img {
	width: 15rem;
}

.card {
	min-width: 17rem;
}

.infocard {
	width: 15rem;
	height: 15rem;
}

.intro {
	background-color: #f4f4f4;
}

.info {
	background-color: #e8e8e8;
	width: 100%;
}

.rounded {
	border-radius: 7% !important;
}

.content-wrapper {
	max-width: 80%;
}

@media only screen and (max-width: 1300px) {
	.info {
		justify-content: center;
	}
}
